.photo-card {
  position: relative;

  color: white;
}

.photo-card__nav-link {
   cursor: zoom-in; 
}

.photo-card__container {

}

.photo-card__img {
  display: block;

  min-height: 200px;
}

.photo-card__descriptions {

}

.photo-card-descriptions {
  position: absolute;
  bottom: 0px;
  left: 0px;
  z-index: 100;

  padding: 10px;
}

.photo-card-descriptions__container {

}

.photo-card-descriptions__like-icon {
  margin: 0 5px 0 0;
}

.photo-card-descriptions__likes {

}

.photo-card-descriptions__data {

}

.photo-card-descriptions__link {
  position: relative;
}

.photo-card-descriptions__link:hover::after {
  content: "";

  position: absolute;
  bottom: -2px;
  left: 0;

  display: block;
  width: 100%;
  height: 1px;

  background-color: white;
}
