.photo-full {
  min-height: 100vh;

  /* margin: -100px 0 0 0; */
  padding: 0 20px 20px;

  background-color: #2a2a2a;
}

.photo-full__container {

}

.photo-full__img-container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  max-width: 1024px;
  min-height: 600px;


  margin: 0 auto;

  background: #000 url(../../../assets/images/preloader_2.gif) center no-repeat;
}

.photo-full__img {
  display: block;
}
