.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;

  padding: 20px 10px;

  background-color: black;

  color: white;
}

.header__user-container {
  display: flex;

  align-items: center;
}

.header-user {

}

.header-user__img {
  display: block;

  width: 60px;
  height: 60px;

  border-radius: 60px;
}

.header-user__name {
  margin: 0 0 0 20px;
}

.header__btn {
  display: flex;
  align-items: center;
  justify-content: center;

  min-width: 70px;
  height: 30px;

  padding: 5px;

  background-color: white;

  border: 1px solid black;

  color: black;

  cursor: pointer;
}

.header__btn:hover {
  background-color: black;

  border: 1px solid white;

  color: white;
}
